.InputVariables .container, .widget_container {
  display: flex;
}
.col-5 {
  width: 50%;
}
.col-1 {
  width: 10%;
}
.col-9 {
  width: 90%;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #f2f2f2;
}

th, td {
  border: none;
  padding: 8px;
  text-align: left;
}

table td:nth-child(2),table th:nth-child(2) {
  border-right: 1px solid black;
}


th {
  background-color: #ddd;
}
